.exp-container,.edu-container{
    padding-left: 20px;
}
.exp-heading,.edu-heading{
    border-bottom: 2px solid black;
    width: 30%;
}
.exp-description,.edu-description{
    font-size: 20px;
    text-align: left;
}