.home-container{
    height: 100%;
        
    }
   
    .bg-image{
     background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 55%;
    margin-left: 25%;
    border-radius: 10px;
    }
    .about-para{
        margin:2%;
        line-height: 1.6;
        text-align:justify;
        font-size: 20px;

    }